<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        version   = "1.0.7"
	    id = "br.com.customapps4you.testvideogalery"
        versionCode="1" 
	>
    <name>Test Video Galery</name>

    <description>
        Test Video Galery.
    </description>

    <author>
        Ricardo Tominaga
    </author>
	
	<feature name="http://api.phonegap.com/1.0/storage"/>
	<feature name="http://api.phonegap.com/1.0/file"/>
	<feature name="http://api.phonegap.com/1.0/network"/>
	
	<access origin="*" />
	
	<gap:plugin name="com.phonegap.plugins.facebookconnect">
		<param name="APP_ID" value="452927928149242" />
		<param name="APP_NAME" value="manuellahairclub" />
	</gap:plugin>
	
</widget>
